################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Olga-Zadanie1/.vs/Olga-Zadanie1/v16
/Olga-Zadanie1/Debug
/Olga-Zadanie1/Olga-Zadanie1/Debug
/Olga-Zadanie1/Olga-Zadanie1/x64/Debug
/Olga-Zadanie1/x64/Debug
